# whats_app_cloud_api
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module WhatsAppCloudApi
  # MessagesController
  class MessagesController < BaseController
    # Use this endpoint to send text messages, media, message templates to your
    # customers.
    # @param [String] phone_number_id Required parameter: Example:
    # @param [Message] body Required parameter: To send a message, you must
    # first assemble a message object with the content you want to send.
    # @return [SendMessageResponse] response from the API call
    def send_message(phone_number_id,
                     body)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/{Phone-Number-ID}/messages',
                                     Server::DEFAULT)
                   .template_param(new_parameter(phone_number_id, key: 'Phone-Number-ID')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('global')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(SendMessageResponse.method(:from_hash)))
        .execute
    end
  end
end
